@media screen and (max-width: 1150px) {
  #comparatie-table table {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 100px;
  }

  .mobile h4 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .mobile .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile .box {
    color: white;
    margin: 10px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    border: 1px solid gray;
  }

  .mobile .box:nth-of-type(even) {
    background-color: var(--primary-color);
  }

  .mobile .box:nth-of-type(odd) {
    background-color: orangered;
  }

  .sound-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 955px) {
  /* Home */
  #main-header h1 {
    font-size: 3.5rem;
  }

  /* Comparatie */
  #comparatie-header h1 {
    font-size: 3rem;
  }

  /* About */
  .e28-img img {
    width: 210px;
    height: 130px;
  }

  .e34-img img {
    width: 280px;
    height: 130px;
  }

  .e39-img img {
    width: 240px;
    height: 120px;
  }

  .e60-img img {
    width: 245px;
    height: 130px;
  }

  .f10-img img {
    width: 230px;
    height: 130px;
  }

  .f90-img img {
    width: 230px;
    height: 150px;
  }
}

@media screen and (max-width: 676px) {
  /* Home */
  #main-header h1 {
    font-size: 2.5rem;
  }

  #comparatie-header h1 {
    font-size: 2.5rem;
  }

  #bmw-info p {
    font-size: 1.2rem;
  }

  /* About */
  #bmw-gen .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  #bmw-gen img {
    width: 366px;
    height: 200px;
  }

  #bmw-gen p {
    text-align: center;
    font-size: 1.2rem;
  }

  .e28-text {
    margin: 0 0.5em;
  }

  .e34-text {
    margin: 0 0.5em;
  }

  .e39-text {
    margin: 0 0.5em;
  }

  .e60-text {
    margin: 0 0.5em;
  }

  .f10-text {
    margin: 0 0.5em;
  }

  .f90-text {
    margin: 0 0.5em;
  }

  /* Navbar */
  #navbar {
    flex-direction: column;
    padding-bottom: 0.5em;
  }

  .nav-links a {
    margin-left: 0;
  }

  /* Comparatie */
  #gif img {
    height: 40vh;
  }
}

@media screen and (max-width: 471px) {
  #navbar {
    position: static;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    margin-left: 0;
    font-size: 1.1rem;
  }

  /* Home */
  #main-header h1 {
    font-size: 2rem;
  }

  #main-header p {
    font-size: 1rem;
  }

  #bmw-info h2 {
    font-size: 2rem;
  }

  /* About */
  #about-header h2 {
    font-size: 2rem;
  }

  /* Contact */
  .nume-prenume {
    flex-direction: column;
  }

  .nume-prenume input:first-of-type {
    margin-right: 0;
  }

  .zi-nastere .bth-container {
    flex-direction: column;
  }

  .zi-nastere select {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 398px) {
  /* About */
  #about-header h2 {
    font-size: 1.55rem;
  }

  #comparatie-header h1 {
    font-size: 1.7rem;
  }

  /* About */
  #bmw-gen img {
    width: 250px;
    height: 150px;
  }

  #about-info h3 {
    font-size: 1.3rem;
  }

  /* Footer */
  p {
    font-size: 1.05rem;
  }

  /* Contact */
  #gif img {
    height: 30vh;
  }
}
