:root {
  --bg-color: #f5f5f5;
  --primary-color: #373485;
  --secondary-color: #c52b30;
  --light-color: #33a0d1;
  --dark-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
}

p {
  margin: 15px 0;
}

ul,
ol {
  margin: 1em;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
}

img {
  width: 100%;
}

/* Utilitati */
.btn-primary {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.btn-secondary {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

#navbar .selected {
  color: orange;
}

/* Navbar */
#navbar {
  padding: 0 30px;
  background-color: var(--primary-color);
  display: flex;
  height: 6vh;
  min-height: 48px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid var(--light-color);
  position: fixed;
  z-index: 2;
}

#navbar .logo img {
  height: 50px;
}

.nav-links a {
  padding: 9px 10px;
  margin-left: 15px;
  color: var(--bg-color);
  border-bottom: 2px solid transparent;
}

#navbar .nav-links a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

/* Main Header */
#main-header {
  background: url("../img/e34_header1.jpg") no-repeat center/cover;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  overflow: hidden;
  min-height: 458px;
}

#main-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

#main-header h1 {
  z-index: 1;
  font-size: 70px;
  margin-top: 200px;
}

#main-header p {
  text-align: center;
  z-index: 1;
  font-weight: 500;
  font-size: 1.2rem;
}

#main-header .btn-secondary {
  z-index: 1;
  margin-top: 20px;
}

/* Bmw Info */
#bmw-info {
  border-bottom: 4px solid var(--secondary-color);
}

#bmw-info h2 {
  margin: 25px 0;
  text-align: left;
  font-size: 2.5rem;
}

#bmw-info p {
  text-align: left;
  font-weight: 500;
}

#bmw-info img {
  width: 10%;
  margin-bottom: 40px;
}

#bmw-info .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bmw-info .info-container span {
  font-weight: bold;
  font-style: italic;
}

#bmw-info .info-container p:nth-of-type(1) {
  color: var(--secondary-color);
  font-style: oblique;
}

#bmw-info .info-container p:nth-of-type(2) {
  color: var(--primary-color);
  font-weight: bold;
  font-style: oblique 40deg;
}

/* About page */
#about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  min-height: 458px;
  border-bottom: 4px solid var(--primary-color);
  background: url(../img/about4.jpg) no-repeat center/cover;
}

#about-header h2 {
  color: #fff;
  font-size: 2.5rem;
}

#about-info {
  height: 10vh;
  background-color: var(--secondary-color);
  border-bottom: 4px solid var(--light-color);
  padding-top: 25px;
}

#about-info h3 {
  color: var(--bg-color);
  font-size: 1.6rem;
  text-align: center;
}

/* Modele BMW */
#bmw-gen h3 {
  font-size: 1.6rem;
}

#bmw-gen p {
  text-align: left;
  font-weight: 500;
}

#bmw-gen .container {
  display: flex;
}

.e28 {
  padding: 60px 0;
  background: var(--dark-color);
  color: var(--bg-color);
}

.e28-text {
  margin-left: 60px;
}

.e28-img img {
  border-radius: 10%;
}

.e34 .container {
  display: flex;
  flex-direction: row-reverse;
}

.e34 {
  padding: 60px 0;
}

.e34-text {
  margin-right: 60px;
}

.e34-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.e34-img img {
  border-radius: 10%;
  height: 155px;
  width: 366px;
}

.e39 {
  background: var(--dark-color);
  color: var(--bg-color);
  padding: 60px 0;
}

.e39-text {
  margin-left: 60px;
}

.e39-img {
  display: flex;
  align-items: center;
}

.e39-img img {
  height: 150px;
  width: 280px;
  border-radius: 10%;
}

.e60 {
  padding: 60px 0;
}

.e60 .container {
  flex-direction: row-reverse;
}

.e60-text {
  margin-right: 60px;
}

.e60-img {
  display: flex;
  align-items: center;
}

.e60-img img {
  height: 170px;
  width: 320px;
  border-radius: 10%;
}

.f10 {
  padding: 60px 0;
  background: var(--dark-color);
  color: var(--bg-color);
}

.f10-text {
  margin-left: 60px;
}

.f10-img {
  display: flex;
  align-items: center;
}

.f10-img img {
  height: 170px;
  width: 300px;
  border-radius: 10%;
}

.f90 {
  padding: 60px 0;
}

.f90 .container {
  flex-direction: row-reverse;
}

.f90-text {
  margin-right: 60px;
}

.f90-img {
  display: flex;
  align-items: center;
}

.f90-img img {
  height: 220px;
  width: 320px;
  border-radius: 10%;
}

/* Contact */
#contact-info {
  padding-top: 80px;
}

#contact-info .contact-info-heading {
  font-size: 2rem;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

#contact-info .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info .form-container {
  padding: 35px;
  border: solid 1px #ccd0d5;
  border-top: none;
  box-shadow: 0 10px 16px 2px #ccd0d5;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 130px;
}

#contact-info input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  outline-color: var(--primary-color);
}

#contact-info input,
textarea {
  outline-color: var(--primary-color);
}

.nume-prenume {
  display: flex;
}

.nume-prenume input:first-of-type {
  margin-right: 15px;
}

#contact-info h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.zi-nastere .bth-container {
  display: flex;
  justify-content: space-between;
}

.zi-nastere select {
  width: 115px;
  height: 25px;
}

.gender-container {
  display: flex;
}

.gender-container input {
  margin-right: 15px;
}

.mesaj {
  margin: 20px 0;
}

.mesaj textarea {
  width: 100%;
  padding: 10px;
}

.tos {
  margin-top: 40px;
  color: gray;
  font-size: 0.8rem;
  text-align: center;
}

.butoane {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.butoane button {
  padding: 5px 15px;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  margin-right: 25px;
  cursor: pointer;
}

.butoane button:hover {
  background-color: darkred;
}

.locatie-container {
  display: flex;
  justify-content: center;
}

.locatie iframe {
  width: 100%;
}

/* Galerie */
.underline {
  height: 4px;
  width: 90px;
  background-color: red;
  margin: auto;
}

#galerie-main {
  padding-top: 150px;
  margin-bottom: 100px;
}

#galerie-main h3 {
  font-size: 1.8rem;
  text-align: center;
}

#galerie-main .img-wrap {
  width: 190px;
  height: 150px;
  overflow: hidden;
}

#galerie-main img {
  width: 190px;
  height: 150px;
}

#galerie-main img {
  transform: scale(1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

#galerie-main img:hover {
  transform: scale(1.2);
}

.e28g-imgs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.e34g-imgs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.e39g-imgs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.e60g-imgs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.f10g-imgs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.f90g-imgs {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Webografie */
#webografie {
  border-top: 1px dotted gray;
  margin: 90px 0;
}

#webografie a {
  color: var(--primary-color);
}

#webografie a:hover {
  text-decoration: underline;
}

#webografie h2 {
  text-align: center;
  font-size: 2rem;
  margin: 60px 0;
  margin-top: 100px;
}

.webografie-info {
  margin-bottom: 50px;
}

.webografie-info h3 {
  font-size: 1.3rem;
}

.webografie-docs h3 {
  font-size: 1.3rem;
}

.webografie-docs ul {
  list-style-image: url("../img/ul_img_1_30x30.png");
}

/* Comparatie */
#comparatie-header {
  background: url("../img/comparatie.jpg") no-repeat center/cover;
  height: 70vh;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--bg-color);
  position: relative;
  border-bottom: 4px solid var(--primary-color);
}

#comparatie-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

#comparatie-header h1 {
  font-size: 2.5rem;
  margin-top: 70px;
}

#comparatie-header h1,
p {
  z-index: 1;
}

/* Comparatie-tabel */
#comparatie-table {
  margin: 100px 0;
}

#comparatie-table table {
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

#comparatie-table tr {
  transition: all 0.15s ease-in;
  cursor: pointer;
}

#comparatie-table th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#comparatie-table #table-header {
  background: var(--light-color);
}

#comparatie-table tr:hover {
  background: #e8e8e8;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

/* Audio */
#comparatie-audio {
  margin: 80px 0;
  padding: 80px 0;
}

#comparatie-audio h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
}

#comparatie-audio .sound-wrap {
  display: flex;
}

/* gif */
#gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gif img {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

#preformatare {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#preformatare div {
  margin-left: 680px;
}

#buton button {
}

/* Footer */
#main-footer {
  padding-top: 30px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  font-size: 1.2rem;
}

#main-footer .social-media a {
  margin: 0 10px;
}

.facebook {
  color: var(--primary-color);
}

.twitter {
  color: var(--light-color);
}

.instagram {
  color: white;
}

.ytb {
  color: var(--secondary-color);
}
